#chiSkyline {
position: absolute;
bottom: 0;
}
/* 
@media only screen and (min-device-width: 480px)and (max-device-width: 767px) and (orientation: portrait) {
  #chiSkyline {
    width: 115%;
    bottom: -60px;
    left: -25px;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) { 
  #chiSkyline {
    width: 125%;
    bottom: 10px;
    }
  }


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    #chiSkyline {
    width: 175%;
    bottom: 10px;
    left: 10%;
    }
}   
@media screen 
  and (min-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    #chiSkyline {
      width: 125%;
      bottom: 10px;
      left: 20%;
      }
} */

/* ----------- Retina Screens ----------- */
/* @media screen 
  and (min-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    #chiSkyline {
      width: 105%;
      left: 15%;
      }
}
 */


.fillColor {
  fill: #4077a8;
}

.filler {
    opacity: 0.27;
}

.backBuildings {
  opacity: 0.5;
}
.airplane {
  fill: #4077a8;
  opacity: 0.87;
  isolation: isolate;
}

.midBuildings {
  opacity: 0.65;
}

.willis {
  opacity: 0.78;
}

.stroke-nofill {
  fill: none;
  stroke: #4077a8;
  stroke-miterlimit: 10;
}